<ion-content>

  <div class="mt-8">
    <div class="mt-4 py-2" *ngFor="let post of posts">
      <div class="flex justify-between">
        <div class="flex items-center px-4">
          <ion-avatar class="w-10 h-10">
            <ion-img [src]="post.avatarUrl"></ion-img>
          </ion-avatar>
          <span class="pl-3 font-bold">{{ post.username }}</span>
        </div>
        <div>
          <ion-button fill="clear" color="dark" (click)="showModal()">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div>
      </div>
      <img [src]="post.url" />
      <div>
        <ion-button fill="clear" color="dark">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="px-4">
        <p>
          <span class="font-bold">{{ post.username }}</span> {{ post.caption }}
        </p>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="modalOpen" [breakpoints]="[0, 0.5, 0.75, 1]" [initialBreakpoint]="0.5"
    (didDismiss)="onDidDismiss()" handleBehavior="cycle">
    <ng-template>
      <ion-header>
        <div class=" flex px-4 py-4 border-b">
          <div class="flex items-center">
            <img class="rounded w-9 h-9" src="https://picsum.photos/200/300?random=1" />
            <div class="ml-2">
              <h3 class=" font-semibold">jaguarusa's post</h3>
              <p>instagram.com</p>
            </div>
          </div>
          <ion-button class="ml-auto" fill="clear" color="medium">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </div>
      </ion-header>
      <ion-content>
        <div class="flex snap-x overflow-auto py-2 border-b">
          <div class="min-w-[80px] py-2" *ngFor="let name of names">
            <div class="flex flex-col items-center">
              <div class="rounded-full w-14 h-14 bg-slate-400 flex items-center justify-center shadow-lg relative">
                <span class="text-white font-bold text-2xl">{{ name.substring(0, 1) }}</span>
                <img class="absolute bottom-0 right-0" width="16"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IMessage_logo.svg/2048px-IMessage_logo.svg.png" />
              </div>
              <p class="text-xs mt-1">{{ name }}</p>
            </div>
          </div>
        </div>
        <div class="flex snap-x overflow-auto gap-2 py-4">
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=2" />
          </div>
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=3" />
          </div>
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=4" />
          </div>
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=5" />
          </div>
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=6" />
          </div>
          <div class="min-w-[100px]">
            <img class="rounded" src="https://picsum.photos/200/300?random=7" />
          </div>
        </div>
        <ion-card class="shadow border rounded-lg">
          <ion-list lines="none">
            <ion-item>
              Copy
              <ion-icon slot="end" colo="medium" name="copy-outline"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-card class="mb-0 rouned-lg shadow border">
          <ion-list lines="none">
            <ion-item class="border-b-gray-100 border-b-2">
              Add to Reading List
              <ion-icon slot="end" colo="medium" name="glasses-outline"></ion-icon>
            </ion-item>
            <ion-item>
              Save to Pinterest
              <ion-icon slot="end" colo="medium" name="logo-pinterest"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-button class="ml-4" fill="clear">Edit Actions...</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
